# ==============================================================================
# Capstone Project .gitignore - Nancy & Michelle
# ==============================================================================

# 1. Ignore processed data and final outputs
data/processed/
data/final/
data/validation/
models/

# Allow raw data to be tracked by Git LFS
!data/raw/
!data/raw/**/*.xlsx
!data/raw/**/*.xls

# Allow the best model pipeline joblib file to be tracked
!data/final/best_model_pipeline.joblib

# 2. R Environment and Temporary History
# Excludes local workspace files and command history logs
.Rhistory
.RData
.Ruserdata
.Renviron
.Rproj.user/

# 3. Formatted Document Output Cache
# Prevents locally knitted PDF/HTML/Word drafts from cluttering commits
*.html
*.pdf
*.docx
.ipynb_checkpoints/
*.tex

# 4. Hidden System Files
# Prevents your Mac's folder customization files from being uploaded
__pycache__/
.DS_Store
Thumbs.db
.venv/
env

# We want to ignore the massive library folder
renv/library/
renv/local/
renv/staging/
# BUT we MUST track these files to allow renv::restore() to work
!renv/activate.R
!renv/settings.json

.env/
.pytest_cache/

# 5. Quarto / RStudio Build Artifacts
.quarto/
*_cache/hypertension_atlas.db
